{% extends 'base.html' %}

{% block title %}
Home - Jeruyiq
{% endblock %}

{% block extra_css %}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/mainpage.css') }}" />
<link href="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
{% endblock %}

{% block body %}
<nav id="mySidenav" class="sidenav">
  <button class="logo" id="logo-button"></button>
  <div class="sidenav-options">
    <button class="sidenav-option-button sidenav-feed" id="sidenav-feed">
      <img src="{{ url_for('static', filename='/images/icons/feed-icon.png') }}">
      <p class="sidenav-option-text">Feed</p>
    </button>
    <button class="sidenav-option-button sidenav-services" id="sidenav-services">
      <img src="{{ url_for('static', filename='/images/icons/services-icon.png') }}">
      <p class="sidenav-option-text">Services</p>
    </button>
    <button class="sidenav-option-button sidenav-chats" id="sidenav-chats">
      <img src="{{ url_for('static', filename='/images/icons/chat-icon.png') }}">
      <p class="sidenav-option-text">Chats</p>
    </button>
    <button class="sidenav-option-button sidenav-bookmarks" id="sidenav-bookmarks">
      <img src="{{ url_for('static', filename='/images/icons/bookmark-icon.png') }}">
      <p class="sidenav-option-text">Bookmarks</p>
    </button>
    <button class="sidenav-option-button sidenav-settings" id="sidenav-settings">
      <img src="{{ url_for('static', filename='/images/icons/settings-icon.png') }}">
      <p class="sidenav-option-text">Settings</p>
    </button>
  </div>
  <button class="profile-container">
    <div class="profile-pic"></div>
    <div class="profile-info">
      <p class="profile-name">Zhanserik</p>
      <div class="profile-line"></div>
      <p class="profile-email">zhanserikamangazin@gmail.com</p>
    </div>
  </button>
</nav>

<div id="main">
  <header id="header">
    <div id="header-container">
      <div id="left-side">
        <div class="search-container">
          <div class="searchbar">
            <button id="location-search-button">
              <img src="{{ url_for('static', filename='/images/icons/search-icon.png') }}">
            </button>
            <input type="text" class="searchbox" placeholder="Search...">
          </div>
          <div class="search-container-btns">
            <button class="filter-btn" id="filter-btn" alt="Filter">
              <img src="{{ url_for('static', filename='/images/icons/filters-icon.png') }}">
            </button>
            <button class="add-location-btn" id="add-location-btn" alt="Add location">
              <img src="{{ url_for('static', filename='/images/icons/add-location-icon.png') }}">
            </button>
            <button class="route-btn" id="route-btn" alt="Route">
              <img src="{{ url_for('static', filename='/images/icons/route-icon.png') }}">
            </button>
          </div>
          <div id="filter-options-panel" class="filter-options-panel">
            <div class="filter-options-panel-header">
              <h3>Filter Options</h3>
              <div class="filter-toggle-switch">
                <input type="checkbox" id="filter-mode-checkbox" class="filter-mode-checkbox">
                <label class="filter-mode-label" for="filter-mode-checkbox">
                  <span class="toggle-track" draggable="false">
                    <span class="toggle-thumb" draggable="false">
                        <span class="manual-icon" draggable="false">
                          <img src="{{ url_for('static', filename='/images/icons/filters-icon-grey.png') }}">
                        </span>
                        <span class="ai-icon" draggable="false">
                          <img src="{{ url_for('static', filename='/images/icons/robot-icon.png') }}">
                        </span>
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <div id="manual-filter" class="tab-content active">
              <h3>Manual Filter Options</h3>
            </div>
      
            <div id="ai-filter" class="tab-content">
              <div class="ai-chat-container" id="ai-chat-container">
                <div id="ai-chat-log" class="ai-chat-log" role="log" aria-live="polite"></div>
                <div class="ai-chat-input">
                  <div class="ai-chat-input-container">
                    <input type="text" id="ai-chat-input" placeholder="Ask anything...">
                  </div>

                  <div class="ai-chat-buttons-container">
                    <div class="ai-tool-buttons">
                      <button id="attach-file">
                        <img src="{{ url_for('static', filename='/images/icons/attach-icon.png') }}">
                      </button>
                    </div>

                    <div class="ai-send-button">
                      <button id="send-message">
                        <img src="{{ url_for('static', filename='/images/icons/send-icon.png') }}">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="cesiumContainer"></div>
</div>

<!-- <script type="importmap">
  {
      "imports": {
          "three": "https://unpkg.com/three@0.175.0/build/three.module.js",
          "OrbitControls": "https://unpkg.com/three@0.175.0/examples/jsm/controls/OrbitControls.js",
          "EffectComposer": "https://unpkg.com/three@0.175.0/examples/jsm/postprocessing/EffectComposer.js",
          "RenderPass": "https://unpkg.com/three@0.175.0/examples/jsm/postprocessing/RenderPass.js",
          "ShaderPass": "https://unpkg.com/three@0.175.0/examples/jsm/postprocessing/ShaderPass.js"
      }
  }
</script> -->
<script src="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Cesium.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.min.js"></script>
<script type="module" defer src="{{ url_for('static', filename='/js/mainpage.js') }}"></script>
{% endblock %}